HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### 機密情報 ###

# ローカル・本番用
src/main/resources/application-local.properties
#src/main/resources/application-prod.properties

# テスト用
src/test/resources/application.properties

# 環境変数ファイル
.env
.env.local

### 念のため ###
*.pem
*.key
*.p12
*.jks